<table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th>Kode</th>
        <th>Nama</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.code}}</td>
    <td>{{category.name}}</td>
    <td class="text-center">
        <button (click)="deleteCategorie(category._id)" class="btn btn-danger"><i class="fa fa-trash"></i>
            Delete</button>
        <button (click)="updateCategorie(category._id)" class="btn btn-primary" style="margin-left: 10px"><i
                class="fa fa-edit"></i> Update</button>
        <button (click)="categorieDetails(category._id)" class="btn btn-info" style="margin-left: 10px"><i
                class="fa fa-info-circle"></i> Details</button>
    </td>
      </tr>
    </tbody>

  </table>

    